.eachdiv {
  float: left;
  width: 22.5%;
  height: 200px;
  background: white;
  box-shadow: 5px 5px #05396B;
  padding: 1rem;
  margin: 10px;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.4s;
}

.eachdiv:hover {
  transform: scale(1.03);
  box-shadow: 5px 5px #05396B;
  background-color: #8DE4AF;
}

.eachdiv img {
  width: 100%;
  margin-bottom: 0.8rem;
  border-radius: 1rem;
}

.eachdiv h3 {
  color: #05396B;
  font-size: 20px;
  margin-bottom: 0.5rem;
}

.eachdiv h5 {
  font-size: 15px;
}

.eachdiv p {
  font-size: 0.8rem;
  color: #969696;
  margin-bottom: 0;
}

@media only screen and (max-width: 1000px) {
  .eachdiv {
    width: 48%;
  }
}

@media only screen and (max-width: 600px) {
  .eachdiv {
    width: 100%;
    margin: 0.5rem 0;
  }
}