<app-search (searchEvent)="handleSearch($event)"></app-search>

<div class="divgroup" *ngFor="let repository of dataRepositories">
  <div class="eachdiv" (click)="repositoryPage(repository)">
    <h3 class="repoName">
      {{ (repository.name.length > 15) ? (repository.name | slice: 0:15)+'...': (repository.name) }}</h3>
    <h5 class="ownerName">{{ repository.owner.login }}</h5>
    <p *ngIf="repository.description">
      {{ (repository.description.length > 100) ? (repository.description | slice: 0:100)+'...': (repository.description) }}
    </p>
  </div>
</div>
