<app-header></app-header>

<div class="container">

  <router-outlet></router-outlet>

</div>

<button mat-mini-fab class="goToTop" (click)="goToTop()">
  <mat-icon>keyboard_capslock</mat-icon>
</button>


