body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.container {
    width: 900px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 50px;
    margin-top: 50px;
}

.goToTop {
    background-color: #05396B;
    position: fixed;
    bottom: 20px;
    right: 20px; 
  }