mat-toolbar {
  background-color: #5CDB94;
  color: #05396B;
}

.spacer {
  flex: 1 1 auto;
}

.logo {
  height: 150px;
}

.logo:hover {
  cursor: pointer;
}

.tab {
  font-family: 'Fjalla One', sans-serif;
  font-weight: 400;
  margin-right: 15px;
  box-sizing: border-box;
  width: 150px;
  height: 45px;
  color: #05396B;
  background-color: #5CDB94;
}

.router-link-active {
  color: white;
  background-color: #05396B;
}
