<mat-toolbar>
  <img class="logo" src="../../../../assets/logo.png" (click)="githubWebsite()">

  <span class="spacer"></span>
  <button mat-flat-button class="tab" [routerLink]="['/users']" routerLinkActive="router-link-active">
    USERS
  </button>
  <button mat-flat-button class="tab" [routerLink]="['/repositories']" routerLinkActive="router-link-active">
    REPOSITORIES
  </button>
</mat-toolbar>
