@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  background-color: #5CDB94;
  margin: 0;
  padding: 0;
  font-family: 'Fjalla One', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button,
input {
  border: none;
  outline: none;
}

.ql-container.ql-snow {
  height: 150px !important;
}
