::placeholder {
  color: #bebebe;
}

.input {
  width: 97.4%;
  padding: 15px;
  margin: 5px;
  font-size: 18px;
  border: 2px solid #c5c5c5;
  border-radius: 8px;
  outline: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  box-shadow: 5px 2px #05396B;
}

.input:focus {
  transform: scale(1.01);
}
