<app-search (searchEvent)="handleSearch($event)"></app-search>
<div class="divgroup" *ngFor="let user of dataUsers">
  <div class="eachdiv" (click)="userProfile(user)">
    <img src="{{ user.avatar_url}}">
    <h3>{{ user.login }}</h3>
  </div>
</div>

<button mat-flat-button class="loadButton" (click)="loadMore()">
  LOAD MORE
</button>
